<main class="container col-xs-12 col-sm-12 col-md-10 col-lg-10">
    
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-apple"></span> Add New Course Details</h3>
        </div>
        <div class="panel-body">

            <!--THE FORM-->
            <form ng-submit="school.registerCourse(newCourse);"> 
                
            <!--A SUCCESS MESSAGE-->
            <div class="row show-hide-message" ng-show = "school.successMsg">
                <div class="alert alert-success">{{ school.successMsg }}</div>
            </div>

            <!--AN ERROR MESSAGE-->
            <div class="row show-hide-message" ng-show = "school.errorMsg">
                <div class="alert alert-danger">{{ school.errorMsg }}</div>
            </div>

            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" ng-model="school.newCourse.name">
            </div>
            
            <div class="form-group">
                <label>Description:</label>
                <textarea type="text" class="form-control" name="description" ng-model="school.newCourse.description"></textarea>
            </div>


            <button type="submit" class="btn btn-md panel-btn">SAVE</button>
            <button type="button" class="btn btn-md panel-btn" ng-click="school.path_school();">CLOSE</button>
            </form>	
        </div>
    </div>
</main> 	